@import core

$card_width: 66px
$card_height: 100px

h1
  font-weight: bold

=card
  position: relative
  display: inline-block
  width: $card_width
  height: $card_height
  border: 1px solid #999
  +border-radius(8px)
  +box-shadow(#999, -1px, 1px, 4px)
  padding: 10px
  margin: 10px

.card
  +card
  background: white
  cursor: pointer
  &.face_down
    background: #EEE
    > *
      display: none
  .suit
    position: absolute
    color: #222
  img
    position: absolute
    left: $card_width/2 - 8px
    top: $card_height/2 - 20px

.card_holder
  &.cascade
    width: $card_width + 50px
    display: inline-block
    position: relative
    .card
      position: absolute

#stacks_area
  clear: both

#deck_area
  .card_holder
    height: 160px
  float: left

#foundations_area
  .card_holder
    height: $card_height + 40px
    width: $card_width + 40px
    background: #FAFAFA
    border: 1px solid #CCC
    margin: 0px 20px
    display: inline-block
  float: left
  margin-left: 115px

.place
  +card
  +box-shadow(none)
