@import core

h1
  font-weight: bold

.card
  position: relative
  display: inline-block
  width: 100px
  height: 140px
  border: 1px solid #999
  +border-radius(8px)
  +box-shadow(#999, -1px, 1px, 8px)
  padding: 10px
  margin: 10px
  .suit
    position: absolute
    color: #222